<div [ngSwitch]="races.kind" class="flex-1 d-flex flex-col p-4">
    <div *ngSwitchCase="'Loading'" class="d-flex flex-1 align-center p-4">
        <mat-progress-spinner diameter="40" mode="indeterminate"></mat-progress-spinner>
    </div>

    <ng-container *ngSwitchCase="'Data'">
        <div>
            <mat-form-field class="mr-2">
                <input matInput [matDatepicker]="pickerFrom" placeholder="From" [ngModel]="filter.from" (ngModelChange)="filterFromChange($event)"
                    autocomplete="off">
                <mat-datepicker-toggle matSuffix [for]="pickerFrom"></mat-datepicker-toggle>
                <mat-datepicker #pickerFrom></mat-datepicker>
            </mat-form-field>

            <mat-form-field class="ml-2">
                <input matInput [matDatepicker]="pickerTo" placeholder="To" [ngModel]="filter.to" (ngModelChange)="filterToChange($event)" autocomplete="off">
                <mat-datepicker-toggle matSuffix [for]="pickerTo"></mat-datepicker-toggle>
                <mat-datepicker #pickerTo></mat-datepicker>
            </mat-form-field>
        </div>

        <mat-tab-group class="no-shrink mw-800px">
            <mat-tab *ngFor="let group of groups" [label]="formatRaceType(group.raceType)">
                <div class="d-flex flex-col">
                    <table mat-table [dataSource]="group.data" class="flex-1">
                        <ng-container matColumnDef="name">
                            <th mat-header-cell *matHeaderCellDef> Name </th>
                            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                        </ng-container>

                        <ng-container matColumnDef="raceDate">
                            <th mat-header-cell *matHeaderCellDef> Date </th>
                            <td mat-cell *matCellDef="let element"> {{element.raceDate | date:'dd.MM.yyyy'}} </td>
                        </ng-container>

                        <ng-container matColumnDef="gender">
                            <th mat-header-cell *matHeaderCellDef> Gender </th>
                            <td mat-cell *matCellDef="let element"> {{ formatGender(element.gender) }} </td>
                        </ng-container>

                        <ng-container matColumnDef="actions">
                            <th mat-header-cell *matHeaderCellDef></th>
                            <td mat-cell *matCellDef="let element">
                                <ng-container [ngSwitch]="element.raceState">
                                    <a *ngSwitchCase="1" mat-button color="warn" [routerLink]="['/races', element.id]">Watch live</a>
                                    <a *ngSwitchCase="2" mat-button color="primary" [routerLink]="['/races', element.id]">Show results</a>
                                </ng-container>
                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                </div>
            </mat-tab>
        </mat-tab-group>
    </ng-container>

    <div *ngSwitchCase="'Error'" class="d-flex flex-1 align-center p-4">
        ERROR WHILE LOADING :(
    </div>
</div>
