<div [ngSwitch]="race.kind" class="flex-1 d-flex flex-col">
    <div *ngSwitchCase="'Loading'" class="d-flex flex-1 align-center p-4">
        <mat-progress-spinner diameter="40" mode="indeterminate"></mat-progress-spinner>
    </div>

    <ng-container *ngSwitchCase="'Data'">
        <ng-container [ngSwitch]="race.data.raceState">
            <!-- NotStarted -->
            <div *ngSwitchCase='0'>NotStarted</div>

            <!-- Running -->
            <div *ngSwitchCase='1'>
                <div class="d-flex align-items-center">
                    <div class="mr-2">
                        <div class="d-flex align-items-center border-2 border-danger text-danger p-1 badge-radius">
                            <span class="mr-1 bg-danger rounded live-size"></span>
                            live
                        </div>
                    </div>

                    <h1 class="m-0">{{ race.data.name }}</h1>
                </div>

                <p>{{ race.data.description }}</p>

                <app-tab-nav [links]="navLinks"></app-tab-nav>
                <router-outlet></router-outlet>
            </div>

            <!-- Done -->
            <div *ngSwitchCase='2'>
                <h1 class="m-0">{{ race.data.name }}</h1>
                <p>{{ race.data.description }}</p>

                <app-tab-nav [links]="navLinks"></app-tab-nav>
                <router-outlet></router-outlet>
            </div>
        </ng-container>

    </ng-container>

    <div *ngSwitchCase="'Error'" class="d-flex flex-1 align-center p-4">
        ERROR WHILE LOADING :(
    </div>
</div>
