<div [ngSwitch]="race.kind" class="flex-1 d-flex flex-col mw-800px">
    <ng-container *ngSwitchCase="'Data'">
        <ng-container [ngSwitch]="race.data.raceState">
            <!-- NotStarted -->
            <app-icon-info *ngSwitchCase='0' icon="flag-outline">
                    Race is not started yet. <br>
                    Watch live on {{ race.data.raceDate | date:'dd.MM.yyyy' }}.
            </app-icon-info>

            <!-- Running -->
            <div *ngSwitchCase='1'>
                <div class="d-flex align-items-center">
                    <div class="mr-2">
                        <div class="d-flex align-items-center border-2 border-danger text-danger p-1 badge-radius">
                            <span class="mr-1 bg-danger rounded live-size"></span>
                            live
                        </div>
                    </div>

                    <h1 class="m-0">{{ race.data.name }}</h1>
                </div>

                <p>{{ race.data.description }}</p>

                <!-- Current Skier -->
                <div *ngIf="showLiveStatistic()"
                    class="d-flex flex-col mw-800px shadow mb-4 border-1 border-danger">

                    <div class="p-4">
                        <h2 class="m-0">
                            <b>{{ liveStatistic.countryCode }}</b>
                            {{ liveStatistic.firstName }} {{ liveStatistic.lastName }}
                        </h2>

                        <p>Run: {{ liveStatistic.runNumber }}</p>
                    </div>

                    <table *ngIf="liveStatistic.raceData.length > 0"
                            mat-table [dataSource]="liveStatistic.raceData" style="width: 100%;">
                        <ng-container matColumnDef="sensorId">
                            <th mat-header-cell *matHeaderCellDef> Sensor </th>
                            <td mat-cell *matCellDef="let element"> {{element.sensorId}} </td>
                        </ng-container>

                        <ng-container matColumnDef="totalTime">
                            <th mat-header-cell *matHeaderCellDef class="text-bold"> Total Time </th>
                            <td mat-cell *matCellDef="let element"> {{ element.totalTime }} </td>
                        </ng-container>

                        <ng-container matColumnDef="timeStamp">
                            <th mat-header-cell *matHeaderCellDef> Time Stamp </th>
                            <td mat-cell *matCellDef="let element"> {{element.timeStamp | date:'dd.MM.yyyy hh:mm:ss'}} </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>

                    <h3 *ngIf="liveStatistic.raceData.length > 0" class="p-4">Total: {{ liveStatistic.totalTime }}</h3>
                </div>

                <app-tab-nav [links]="navLinks"></app-tab-nav>
                <router-outlet></router-outlet>
            </div>

            <!-- Done -->
            <div *ngSwitchCase='2'>
                <h1 class="m-0">{{ race.data.name }}</h1>
                <p>{{ race.data.description }}</p>

                <app-tab-nav [links]="navLinks"></app-tab-nav>
                <router-outlet></router-outlet>
            </div>
        </ng-container>

    </ng-container>

    <app-loading *ngSwitchCase="'Loading'"></app-loading>
    <app-error-info *ngSwitchCase="'Error'"></app-error-info>
</div>
