<h1 class="mt-0">{{ skier?.id == 0 ? 'New Skier' : 'Edit Skier' }}</h1>

<form class="d-flex flex-col" [formGroup]="skierForm" novalidate>
    <div class="d-flex">
        <mat-form-field class="flex-1 mr-2">
            <input matInput placeholder="First Name" formControlName="firstName">
        </mat-form-field>

        <mat-form-field class="flex-1 ml-2">
            <input matInput placeholder="Last Name" formControlName="lastName">
        </mat-form-field>
    </div>

    <mat-radio-group aria-label="Gender" formControlName="gender">
        <mat-radio-button [value]="0" class="mr-4">Male</mat-radio-button>
        <mat-radio-button [value]="1">Female</mat-radio-button>
    </mat-radio-group>

    <mat-form-field>
        <mat-select placeholder="Country" formControlName="countryCode">
            <mat-option *ngFor="let country of countryCodes" [value]="country">{{country}}</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field>
        <input matInput [matDatepicker]="picker" placeholder="Birth Date" formControlName="birthDate">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-checkbox formControlName="isActive">Has active career</mat-checkbox>

    <mat-form-field>
        <input matInput placeholder="Image URL" formControlName="image">
    </mat-form-field>

    <img *ngIf="skierForm.get('image').value" class="skier-image rounded align-center" [src]="skierForm.get('image').value" alt="Skier Image" />
</form>
